<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>173647248950-qkv30h7b0is990gss9eig5fh95bmmndk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173647248950-qkv30h7b0is990gss9eig5fh95bmmndk</string>
	<key>API_KEY</key>
	<string>AIzaSyDM4XES5yyJ2TzJ2cAWqVCEB8OnbPuyoVU</string>
	<key>GCM_SENDER_ID</key>
	<string>173647248950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NASoftware.TutorUAndI</string>
	<key>PROJECT_ID</key>
	<string>tutoruandi-82fb7</string>
	<key>STORAGE_BUCKET</key>
	<string>tutoruandi-82fb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:173647248950:ios:a97da40ced40686e</string>
	<key>DATABASE_URL</key>
	<string>https://tutoruandi-82fb7.firebaseio.com</string>
</dict>
</plist>